:root {
  --primary: #17696A;
  --black: #1E212C;
  --success: #03CEA4;
  --danger: #FF4242;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

